.header {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container{
        position: static;
        margin-top: 20px;
        height: 50px;
        width: 400px;
    }

    .options{
        margin-top: 40px;
        width: 900px;
        max-width: 900px; 
        position: relative;
        height: 40%;
        text-align: right;
        vertical-align: baseline;
        

        .option{
            font-weight: bold;
            font-size: 15px;
            padding: 0px 15px;
            cursor: pointer;
            color: rgb(94, 94, 94);

        &:hover {
            color: rgb(170, 170, 170);
          } 
        }
    }
}